 Data from US General Social Survey (Available at: https://gssdataexplorer.norc.org)
‘The target population of the GSS is adults (18+) living in households in the United States’

using GSS data explorer, we selected variables of interest and limited year variable

Step 1: Clean Data

In [57]:
# import dependencies
import pandas as pd
import numpy as np
import math

In [58]:
#import and read csv file
my_file="CN_GSS2.csv"
df=pd.read_csv(my_file)

In [42]:
# view shape of dataset
df.shape

(24350, 12)

In [43]:
# view data types
df.dtypes

Year                  int64
Health Condition     object
General happiness    object
U.S. Region          object
Income               object
Race                 object
Sex                  object
Highest Degree       object
Age                  object
Marital status       object
Work Status          object
ID                    int64
dtype: object

In [48]:
# Note: In Excel, the Find Replace tool was used to replace any cells contianing "Not applicable" to "NaN"

In [49]:
# observe first few rows of dataset
df.head()

,Year,Health Condition,General happiness,U.S. Region,Income,Race,Sex,Highest Degree,Age,Marital status,Work Status,ID
0,2000,Excellent,Pretty happy,W. sou. central,$8000 to 9999,White,Male,Bachelor,26,Never married,Working fulltime,1
1,2000,Fair,Pretty happy,W. sou. central,$8000 to 9999,White,Female,High school,48,Divorced,Working fulltime,2
2,2000,Good,Pretty happy,W. sou. central,NaN,White,Female,High school,67,Widowed,Keeping house,3
3,2000,NaN,Very happy,W. sou. central,NaN,White,Female,High school,39,Never married,Working fulltime,4
4,2000,NaN,Pretty happy,W. sou. central,NaN,White,Female,Junior college,25,Divorced,Working fulltime,5

In [50]:
# observe last few rows of dataset
df.tail()

,Year,Health Condition,General happiness,U.S. Region,Income,Race,Sex,Highest Degree,Age,Marital status,Work Status,ID
24345,2016,NaN,Pretty happy,New england,$25000 or more,White,Female,Graduate,57,Married,Working fulltime,2863
24346,2016,Good,Pretty happy,New england,NaN,White,Male,High school,77,Widowed,Working fulltime,2864
24347,2016,NaN,Pretty happy,New england,NaN,White,Female,High school,87,Married,Keeping house,2865
24348,2016,Good,Very happy,New england,$10000 - 14999,White,Female,High school,55,Married,Working fulltime,2866
24349,2016,Good,Pretty happy,New england,NaN,White,Male,Bachelor,72,Married,Retired,2867

In [56]:
# Now can drop rows that contain "NaN"
dfclean = df.dropna()
dfclean.head()

,Year,Health Condition,General happiness,U.S. Region,Income,Race,Sex,Highest Degree,Age,Marital status,Work Status,ID
0,2000,Excellent,Pretty happy,W. sou. central,$8000 to 9999,White,Male,Bachelor,26,Never married,Working fulltime,1
1,2000,Fair,Pretty happy,W. sou. central,$8000 to 9999,White,Female,High school,48,Divorced,Working fulltime,2
5,2000,Good,Pretty happy,W. sou. central,$20000 - 24999,White,Female,High school,25,Married,Working fulltime,6
6,2000,Good,Very happy,W. sou. central,$25000 or more,White,Male,High school,36,Never married,Working fulltime,7
7,2000,Good,Pretty happy,W. sou. central,$7000 to 7999,White,Female,Junior college,44,Divorced,Working fulltime,8

In [54]:
dfclean.shape

(9069, 12)

In [61]:
YearGroup = dfclean.groupby("Year")