### Step 2: Data Cleaning

In [1]:
# import dependencies
import pandas as pd
import numpy as np
import math

In [2]:
#import and read csv file
my_file="gssInitialData.csv"
df=pd.read_csv(my_file)

In [3]:
# view shape of dataset
df.shape

(24350, 12)

In [4]:
# observe first few rows of dataset
df.head()

,Year,Health Condition,General happiness,U.S. Region,Income,Race,Sex,Highest Degree,Age,Marital status,Work Status,ID
0,2000,Excellent,Pretty happy,W. sou. central,$8000 to 9999,White,Male,Bachelor,26,Never married,Working fulltime,1
1,2000,Fair,Pretty happy,W. sou. central,$8000 to 9999,White,Female,High school,48,Divorced,Working fulltime,2
2,2000,Good,Pretty happy,W. sou. central,Not applicable,White,Female,High school,67,Widowed,Keeping house,3
3,2000,Not applicable,Very happy,W. sou. central,Not applicable,White,Female,High school,39,Never married,Working fulltime,4
4,2000,Not applicable,Pretty happy,W. sou. central,Not applicable,White,Female,Junior college,25,Divorced,Working fulltime,5

In [5]:
# view data types
df.dtypes

Year                  int64
Health Condition     object
General happiness    object
U.S. Region          object
Income               object
Race                 object
Sex                  object
Highest Degree       object
Age                  object
Marital status       object
Work Status          object
ID                    int64
dtype: object

In [6]:
# Note: In Excel, the Find Replace tool was used to replace any cells contianing "Not applicable" to "NaN"

In [7]:
# Quantify happiness response
dfclean = df.replace("Pretty happy", 10)
dfclean2 = dfclean.replace("Very happy", 5)
dfclean3 = dfclean2.replace("Not too happy", 0)

# drop all types of no answer responses
dfclean4 = dfclean3[dfclean3 != "Not applicable"]
dfclean5 = dfclean4[dfclean4 != "No answer"]
dfclean6 = dfclean5[dfclean5 != "Don't know"]
dfclean7 = dfclean6[dfclean6 != "Refused"] 
dfclean8 = dfclean7.dropna()

# convert happiness responses to numbers
dfclean8["General happiness"] = pd.to_numeric(dfclean8["General happiness"])

dfclean8

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Health Condition,General happiness,U.S. Region,Income,Race,Sex,Highest Degree,Age,Marital status,Work Status,ID
0,2000,Excellent,10,W. sou. central,$8000 to 9999,White,Male,Bachelor,26,Never married,Working fulltime,1
1,2000,Fair,10,W. sou. central,$8000 to 9999,White,Female,High school,48,Divorced,Working fulltime,2
5,2000,Good,10,W. sou. central,$20000 - 24999,White,Female,High school,25,Married,Working fulltime,6
6,2000,Good,5,W. sou. central,$25000 or more,White,Male,High school,36,Never married,Working fulltime,7
7,2000,Good,10,W. sou. central,$7000 to 7999,White,Female,Junior college,44,Divorced,Working fulltime,8
8,2000,Excellent,10,W. sou. central,$25000 or more,White,Male,Graduate,44,Married,Working fulltime,9
11,2000,Good,10,W. sou. central,$25000 or more,White,Male,Graduate,52,Married,Working fulltime,12
12,2000,Good,10,W. sou. central,$25000 or more,White,Male,High school,52,Married,Working fulltime,13
13,2000,Excellent,5,W. sou. central,$25000 or more,White,Male,Bachelor,51,Married,Working fulltime,14
14,2000,Excellent,10,W. sou. central,$25000 or more,White,Female,Bachelor,52,Divorced,"Unempl, laid off",15
18,2000,Good,10,W. sou. central,$10000 - 14999,White,Male,Lt high school,40,Married,Working fulltime,19
23,2000,Good,10,W. sou. central,$25000 or more,White,Male,Bachelor,54,Widowed,Keeping house,24
33,2000,Fair,10,W. sou. central,$25000 or more,White,Male,High school,37,Never married,Working fulltime,34
34,2000,Good,5,W. sou. central,$10000 - 14999,White,Male,High school,22,Married,Working fulltime,35
35,2000,Good,0,W. sou. central,$20000 - 24999,Other,Female,Lt high school,33,Never married,Working fulltime,36
38,2000,Good,10,W. sou. central,$25000 or more,White,Male,Bachelor,29,Never married,Working fulltime,39
40,2000,Fair,10,W. sou. central,$20000 - 24999,White,Female,Bachelor,31,Married,Working fulltime,41
41,2000,Excellent,5,W. sou. central,$25000 or more,White,Female,Junior college,45,Married,Working fulltime,42
42,2000,Excellent,10,W. sou. central,$15000 - 19999,Black,Male,High school,36,Divorced,"Unempl, laid off",43
45,2000,Fair,10,W. sou. central,$10000 - 14999,White,Female,Lt high school,46,Never married,Working fulltime,46
46,2000,Excellent,5,W. sou. central,$25000 or more,White,Male,Bachelor,65,Married,Working fulltime,47
48,2000,Excellent,5,W. sou. central,$25000 or more,White,Female,Bachelor,56,Married,Working fulltime,49
49,2000,Good,10,W. sou. central,$25000 or more,White,Male,Bachelor,66,Married,Working fulltime,50
50,2000,Good,10,W. sou. central,$15000 - 19999,White,Male,Lt high school,20,Never married,Working fulltime,51
51,2000,Excellent,10,W. sou. central,$5000 to 5999,White,Female,Bachelor,64,Married,Working parttime,52
52,2000,Excellent,5,W. sou. central,$25000 or more,White,Male,Graduate,59,Married,Working fulltime,53
54,2000,Excellent,10,W. sou. central,$10000 - 14999,Other,Male,Bachelor,26,Married,Working parttime,55
56,2000,Good,5,W. sou. central,$20000 - 24999,White,Female,High school,51,Divorced,Working fulltime,57
57,2000,Excellent,10,W. sou. central,$25000 or more,White,Female,Graduate,45,Divorced,Working fulltime,58
58,2000,Good,10,W. sou. central,$1000 to 2999,White,Female,Bachelor,23,Never married,Keeping house,59
...,...,...,...,...,...,...,...,...,...,...,...,...
24238,2016,Good,5,E. nor. central,$25000 or more,White,Male,High school,61,Married,Working fulltime,2756
24246,2016,Fair,0,E. nor. central,$25000 or more,White,Male,High school,39,Married,Working fulltime,2764
24249,2016,Good,10,E. nor. central,$3000 to 3999,White,Female,Lt high school,42,Married,Temp not working,2767
24257,2016,Excellent,5,E. sou. central,$25000 or more,White,Female,High school,59,Married,Working fulltime,2775
24259,2016,Fair,5,E. sou. central,$25000 or more,Black,Female,Graduate,52,Never married,Working fulltime,2777
24268,2016,Good,0,E. sou. central,$25000 or more,White,Female,High school,31,Married,Working fulltime,2786
24269,2016,Fair,0,E. sou. central,$25000 or more,Black,Female,Lt high school,43,Never married,Working fulltime,2787
24270,2016,Fair,5,E. sou. central,$8000 to 9999,Black,Female,Lt high school,55,Widowed,Retired,2788
24271,2016,Fair,0,E. sou. central,$5000 to 5999,Black,Female,Lt high school,55,Separated,Temp not working,2789
24279,2016,Good,10,E. sou. central,$10000 - 14999,White,Female,High school,23,Divorced,Working fulltime,2797
24287,2016,Poor,0,South atlantic,Lt $1000,Black,Female,High school,54,Divorced,Working parttime,2805
24291,2016,Good,10,South atlantic,$10000 - 14999,Black,Female,High school,58,Never married,Keeping house,2809
24292,2016,Fair,10,South atlantic,$25000 or more,Black,Male,High school,40,Never married,Working fulltime,2810
24300,2016,Fair,10,South atlantic,$25000 or more,White,Male,Bachelor,46,Divorced,Working fulltime,2818
24301,2016,Good,10,South atlantic,$25000 or more,White,Male,High school,55,Divorced,Working fulltime,2819
24314,2016,Good,0,New england,$25000 or more,White,Female,High school,35,Never married,Working fulltime,2832
24315,2016,Excellent,5,New england,$25000 or more,White,Female,Graduate,27,Married,Working fulltime,2833
24318,2016,Excellent,5,New england,$20000 - 24999,White,Female,Junior college,44,Divorced,Working fulltime,2836
24319,2016,Excellent,5,New england,$25000 or more,White,Male,Bachelor,60,Married,Working fulltime,2837
24320,2016,Good,10,New england,$25000 or more,White,Male,High school,47,Married,Working fulltime,2838
24324,2016,Excellent,10,New england,$25000 or more,White,Female,Graduate,66,Divorced,Working fulltime,2842
24325,2016,Good,10,New england,$10000 - 14999,White,Male,High school,38,Married,Working fulltime,2843
24327,2016,Good,10,New england,$20000 - 24999,White,Female,High school,24,Never married,Working fulltime,2845
24328,2016,Good,5,New england,$20000 - 24999,White,Female,High school,49,Married,Working parttime,2846
24330,2016,Good,5,New england,$25000 or more,White,Female,High school,58,Married,Working fulltime,2848
24332,2016,Good,5,New england,$20000 - 24999,White,Female,High school,34,Married,Working fulltime,2850
24334,2016,Good,10,New england,$25000 or more,White,Male,Lt high school,40,Married,Working fulltime,2852
24336,2016,Good,10,New england,$3000 to 3999,White,Male,Bachelor,40,Married,Working fulltime,2854
24339,2016,Fair,10,New england,$25000 or more,White,Female,Junior college,35,Separated,Working fulltime,2857
24348,2016,Good,5,New england,$10000 - 14999,White,Female,High school,55,Married,Working fulltime,2866

In [8]:
dfclean8.dtypes

Year                  int64
Health Condition     object
General happiness     int64
U.S. Region          object
Income               object
Race                 object
Sex                  object
Highest Degree       object
Age                  object
Marital status       object
Work Status          object
ID                    int64
dtype: object

In [9]:
dfclean8.to_csv('gssCleanedData.csv', index=False)